name: test-prod

on:
  push:
    branches: ["*"]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: docker build -f Dockerfile.test -t judger_test .
      - name: Run tests
        run: bash test.sh
